* {
    margin: 0;
    padding: 0;
}
div {
    height: 400px;
    width: 400px;
}
#divPai {
    width: 800px;
    border: 2px blue solid ;
    position: relative;
}
#div1 {
    background-color: green;
    width: 50%;
}

#div2 {
    top: 0;
    position: absolute;
    right: 0;
    background-color: red;
}